[Unit]
Description=Wetty Web Terminal
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
Environment=NODE_ENV=production
Environment="__YNH_NODE_LOAD_PATH__"
ExecStart=__YARN_BIN_DIR__/wetty \
    --host 127.0.0.1 \
    --port __PORT__ \
    --base __PATH_URL__/ \
    --sshhost __DOMAIN__ \
    >> /var/log/__APP__/__APP__.log 2>&1

[Install]
WantedBy=multi-user.target
