[Unit]
Description=Wetty Web Terminal
After=network.target

[Service]
Type=simple
Environment=NODE_ENV=production
User=__APP__
Group=__APP__
ExecStart=__YNH_NODE__ . --conf __FINALPATH__/config.json5
TimeoutStopSec=20
KillMode=mixed
Restart=always
RestartSec=2

StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
