[Unit]
Description=Wetty Web Terminal
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
Environment=NODE_ENV=production
Environment="__YNH_NODE_LOAD_PATH__"

WorkingDirectory=__FINALPATH__
ExecStart=node . --conf ./config.json5

TimeoutStopSec=20
KillMode=mixed
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
